<div>
    <form name="loginForm" class="form-horizontal well">
        <fieldset>
            <div ng-show="error" class="alert alert-error">
                Die Kombination aus Email und Passwort wurde im System nicht gefunden, bitte versuchen Sie es erneut!
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>

                <div class="controls">
                    <input type="email" name="email" id="email" ng-model="email" required/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">Passwort</label>

                <div class="controls">
                    <input type="password" name="password" id="password" ng-model="password" required/>
                </div>
            </div>

            <div class="form-actions">
                <button ng-click="login()" class="btn btn-primary">Login</button>
            </div>
        </fieldset>
    </form>
</div>